.header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  max-width: 1440px;
}

.header__logo {
  display: flex;
  max-width: 148px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .header__logo {
    max-width: 94px;
    height: 26px;
  }
}
